@page
@model SAM2020.Pages.ControlPanelModel
@{
    ViewData["Title"] = "ControlPanel";

     
    int userRole = (int)HttpContext.Session.GetInt32("userRole");
}


    <div class="alert alert-success">
        <h2> Welcome  to the Control Panel base on your role you could:</h2>
        <br />




        @if (userRole == (int)UserRole.Admin)  // Admin
        {
            <div class="card bg-warning text-white">
                <div class="card-body"><a href="/NotificationManager"> Send Notification </a></div>
            </div>
            <br />
            <div class="card bg-warning text-white">
                <div class="card-body"><a href="/ManageUsers"> Manage User</a></div>
            </div>

        }
        else if (userRole == (int)UserRole.Author)  // Author
        {
            <div class="card bg-warning text-white">
                <div class="card-body"> <a href="/SubmitPaper"> Submit paper</a></div>
            </div>
            <br />
            <div class="card bg-warning text-white">
                <div class="card-body"> <a href="/MyPapers"> My Papers</a></div>
            </div>
        }
        else if (userRole == (int)UserRole.PCC)  // PCC
        {
            <div class="card bg-warning text-white">
                <div class="card-body"><a href="/NotificationManager"> Send Notification </a></div>
            </div>
            <br />
            <div class="card bg-warning text-white">
                <div class="card-body"> <a href="#"> Assign paper</a></div>
            </div>

        }
        else if (userRole == (int)UserRole.PCM)  // PCM
        {
            <div class="card bg-warning text-white">
                <div class="card-body"> <a href="#"> Review  paper</a></div>
            </div>
        }


    </div>
  
 

