@page "{id?}"
@model PrivacyModel
@{
    ViewData["Title"] = "Register";
    var id = RouteData.Values["id"] is null ? -99 : long.Parse(RouteData.Values["id"].ToString());
}

@if (id == 0)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> Cannot add user in the database. Try Again
    </div>
} else if (id == -1)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> The username/Email is reserved try different user.
    </div>
}

<div style="padding-left:20%;padding-right:20%">
</div>

<div class="container" style="max-width: 450px">
    <h4>Sign Up</h4>
    <div class="row">
        <div class="col-sm">
            <form method="post">
                <div class="form-group">
                    <label for="email" asp-for="user.name">Name</label>
                    <input asp-for="user.name" type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="email" asp-for="user.userEmail">Email</label>
                    <input asp-for="user.userEmail" type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd" asp-for="user.password">Password</label>
                    <input asp-for="user.password" type="password" class="form-control" id="pwd">
                </div>
                <button type="submit" class="btn btn-success">Register</button>
                <div style="margin-top: 20px;">
                  Already have an account? <a href="@Routes.LOGIN">Sign In</a>
                </div>
            </form>
        </div>
    </div>
</div>
