@page "{id?}"
@model TestingModel
@{
  ViewData["Title"] = "Submission";
}
<h3>Submit File</h3>

<div style="padding-left:20%;padding-right:20%">
    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="File">
        <button type="submit">Upload</button>
    </form>
</div>
